<font size=4 color="08#0000" face="Times New Roman">**Explore Indices**</font>

In [2]:
import os
import pandas as pd
import numpy as np

In [22]:
os.chdir("D:\各种材料\研究生\公众号\四、话说指数")
data=pd.read_excel(r"D:\各种材料\研究生\公众号\四、话说指数\指数价格数据.xlsx")
data=data.dropna()
data.index=data["日期"]
del data["日期"]
data

                沪深300      中证500
日期
2004-12-31  1000.0000  1000.0000
2005-01-31   954.8790   922.6530
2005-02-28  1039.9890  1020.8470
2005-03-31   942.2030   896.0680
2005-04-29   932.3950   847.6110
...               ...        ...
2019-10-31  3886.7519  4917.4174
2019-11-29  3828.6706  4894.9416
2019-12-31  4096.5821  5267.6622
2020-01-23  4003.9013  5377.7411
2020-02-21  4149.4903  5784.0321

[183 rows x 2 columns]

In [16]:
def STD(D):#Every column of D the sequence os a variable
    D=(D-D.mean())/D.std()
    return D

In [23]:
def CORR(D1,D2):
    #D1,D2 are two DataFrame
    return D1.corr(D2)