<font size=4 color=#08B0000 face='time new roman'> How to Process the DataFrame<font>

In [3]:
import pandas as pd
import numpy as np
import os

<font size=4 color=#08B0000 face='time new roman'>Read Data From Excel<font>

In [4]:
os.chdir('D:\各种材料\研究生\实习\华泰金工实习-郭智斌-13682326956\GMAT& GAMA策略 python to matlab\GMTA GAMA Mozaic HSTC')
risk_asset=pd.read_excel(r'D:\各种材料\研究生\实习\华泰金工实习-郭智斌-13682326956\GMAT& GAMA策略 python to matlab\GMTA GAMA Mozaic HSTC\日度data1999.xlsx','风险资产')
risk_asset.index=risk_asset['Unnamed: 0']
del risk_asset['Unnamed: 0']  
risk_asset.index.name='date'
risk_asset

,沪深300,SGI美国股票期货指数,SGI日本股票期货指数,SGI英国股票期货指数,德国DAX30指数,彭博能源子指数,彭博工业金属子指数,彭博贵金属子指数
date,,,,,,,,
1999-01-04,0.274035,1.204167,0.896811,1.074363,1.170824,60.7979,61.2255,62.1302
1999-01-05,0.272611,1.216053,0.883416,1.082878,1.161361,59.0646,60.8197,62.3621
1999-01-06,0.275684,1.242252,0.904179,1.122374,1.204717,61.3498,61.0093,62.8538
1999-01-07,0.276935,1.239826,0.904179,1.114221,1.184249,61.5395,61.2482,63.7194
1999-01-08,0.284501,1.249772,0.892123,1.118751,1.191512,61.4412,62.3791,63.8017
...,...,...,...,...,...,...,...,...
2019-07-31,1.200725,2.432684,1.650085,1.457648,1.735490,35.5513,114.4857,176.1774
2019-08-01,1.188619,2.408008,1.646256,1.453199,1.742185,33.5604,114.0295,175.1143
2019-08-02,1.169864,2.392102,1.608737,1.419057,1.692902,33.8514,111.6006,177.7074
2019-08-05,1.149477,2.308490,1.576577,1.383561,1.661852,32.9869,111.3470,179.8051
2019-08-06,1.133294,2.346013,1.571983,1.374179,1.649104,32.7181,111.5954,180.6605

<font size=4 color=#08B0000 face='time new roman'>**以年份为键，以当年所有的交易日为键值建立字典**<font>

In [55]:
riqi={}
for i in range(1999,2020):
    temp=[]
    for T in risk_asset.index:
        if T.year==i:
            temp.append(T)
    riqi[str(i)]=temp
riqi['2006'][:10]

[Timestamp('2006-01-02 00:00:00'),
 Timestamp('2006-01-03 00:00:00'),
 Timestamp('2006-01-04 00:00:00'),
 Timestamp('2006-01-05 00:00:00'),
 Timestamp('2006-01-06 00:00:00'),
 Timestamp('2006-01-09 00:00:00'),
 Timestamp('2006-01-10 00:00:00'),
 Timestamp('2006-01-11 00:00:00'),
 Timestamp('2006-01-12 00:00:00'),
 Timestamp('2006-01-13 00:00:00')]

<font size=4 color=#08B0000 face='time new roman'>**以年份为键，键值为"以月份为键值，当月所有交易日为列表的的字典"**<font>

In [59]:
year_month_day={}
for i in range(1999,2020):
    date_list=riqi[str(i)]#得到该年份的所有交易日
    months=[]
    for T1 in date_list:
        temp_m=T1.month
        months.append(temp_m)
    months=list(set(months))#得到该年份有交易日的交易月份
    month_date={}
    for month in months:
        temp_day=[]#用来存储每个月的交易日
        for T2 in date_list:
            if T2.month==month:
                temp_day.append(T2)
        month_date[str(month)]=temp_day
    year_month_day[str(i)]=month_date

year_month_day['1999']

{'1': [Timestamp('1999-01-04 00:00:00'),
  Timestamp('1999-01-05 00:00:00'),
  Timestamp('1999-01-06 00:00:00'),
  Timestamp('1999-01-07 00:00:00'),
  Timestamp('1999-01-08 00:00:00'),
  Timestamp('1999-01-11 00:00:00'),
  Timestamp('1999-01-12 00:00:00'),
  Timestamp('1999-01-13 00:00:00'),
  Timestamp('1999-01-14 00:00:00'),
  Timestamp('1999-01-15 00:00:00'),
  Timestamp('1999-01-18 00:00:00'),
  Timestamp('1999-01-19 00:00:00'),
  Timestamp('1999-01-20 00:00:00'),
  Timestamp('1999-01-21 00:00:00'),
  Timestamp('1999-01-22 00:00:00'),
  Timestamp('1999-01-25 00:00:00'),
  Timestamp('1999-01-26 00:00:00'),
  Timestamp('1999-01-27 00:00:00'),
  Timestamp('1999-01-28 00:00:00'),
  Timestamp('1999-01-29 00:00:00')],
 '2': [Timestamp('1999-02-01 00:00:00'),
  Timestamp('1999-02-02 00:00:00'),
  Timestamp('1999-02-03 00:00:00'),
  Timestamp('1999-02-04 00:00:00'),
  Timestamp('1999-02-05 00:00:00'),
  Timestamp('1999-02-08 00:00:00'),
  Timestamp('1999-02-09 00:00:00'),
  Timestamp('1999-02-10 00:00:00'),
  Timestamp('1999-02-11 00:00:00'),
  Timestamp('1999-02-12 00:00:00'),
  Timestamp('1999-02-15 00:00:00'),
  Timestamp('1999-02-16 00:00:00'),
  Timestamp('1999-02-17 00:00:00'),
  Timestamp('1999-02-18 00:00:00'),
  Timestamp('1999-02-19 00:00:00'),
  Timestamp('1999-02-22 00:00:00'),
  Timestamp('1999-02-23 00:00:00'),
  Timestamp('1999-02-24 00:00:00'),
  Timestamp('1999-02-25 00:00:00'),
  Timestamp('1999-02-26 00:00:00')],
 '3': [Timestamp('1999-03-01 00:00:00'),
  Timestamp('1999-03-02 00:00:00'),
  Timestamp('1999-03-03 00:00:00'),
  Timestamp('1999-03-04 00:00:00'),
  Timestamp('1999-03-05 00:00:00'),
  Timestamp('1999-03-08 00:00:00'),
  Timestamp('1999-03-09 00:00:00'),
  Timestamp('1999-03-10 00:00:00'),
  Timestamp('1999-03-11 00:00:00'),
  Timestamp('1999-03-12 00:00:00'),
  Timestamp('1999-03-15 00:00:00'),
  Timestamp('1999-03-16 00:00:00'),
  Timestamp('1999-03-17 00:00:00'),
  Timestamp('1999-03-18 00:00:00'),
  Timestamp('1999-03-19 00:00:00'),
  Timestamp('1999-03-22 00:00:00'),
  Timestamp('1999-03-23 00:00:00'),
  Timestamp('1999-03-24 00:00:00'),
  Timestamp('1999-03-25 00:00:00'),
  Timestamp('1999-03-26 00:00:00'),
  Timestamp('1999-03-29 00:00:00'),
  Timestamp('1999-03-30 00:00:00'),
  Timestamp('1999-03-31 00:00:00')],
 '4': [Timestamp('1999-04-01 00:00:00'),
  Timestamp('1999-04-02 00:00:00'),
  Timestamp('1999-04-05 00:00:00'),
  Timestamp('1999-04-06 00:00:00'),
  Timestamp('1999-04-07 00:00:00'),
  Timestamp('1999-04-08 00:00:00'),
  Timestamp('1999-04-09 00:00:00'),
  Timestamp('1999-04-12 00:00:00'),
  Timestamp('1999-04-13 00:00:00'),
  Timestamp('1999-04-14 00:00:00'),
  Timestamp('1999-04-15 00:00:00'),
  Timestamp('1999-04-16 00:00:00'),
  Timestamp('1999-04-19 00:00:00'),
  Timestamp('1999-04-20 00:00:00'),
  Timestamp('1999-04-21 00:00:00'),
  Timestamp('1999-04-22 00:00:00'),
  Timestamp('1999-04-23 00:00:00'),
  Timestamp('1999-04-26 00:00:00'),
  Timestamp('1999-04-27 00:00:00'),
  Timestamp('1999-04-28 00:00:00'),
  Timestamp('1999-04-29 00:00:00'),
  Timestamp('1999-04-30 00:00:00')],
 '5': [Timestamp('1999-05-03 00:00:00'),
  Timestamp('1999-05-04 00:00:00'),
  Timestamp('1999-05-05 00:00:00'),
  Timestamp('1999-05-06 00:00:00'),
  Timestamp('1999-05-07 00:00:00'),
  Timestamp('1999-05-10 00:00:00'),
  Timestamp('1999-05-11 00:00:00'),
  Timestamp('1999-05-12 00:00:00'),
  Timestamp('1999-05-13 00:00:00'),
  Timestamp('1999-05-14 00:00:00'),
  Timestamp('1999-05-17 00:00:00'),
  Timestamp('1999-05-18 00:00:00'),
  Timestamp('1999-05-19 00:00:00'),
  Timestamp('1999-05-20 00:00:00'),
  Timestamp('1999-05-21 00:00:00'),
  Timestamp('1999-05-24 00:00:00'),
  Timestamp('1999-05-25 00:00:00'),
  Timestamp('1999-05-26 00:00:00'),
  Timestamp('1999-05-27 00:00:00'),
  Timestamp('1999-05-28 00:00:00'),
  Timestamp('1999-05-31 00:00:00')],
 '6': [Timestamp('1999-06-01 00:00:00'),
  Timestamp('1999-06-02 00:00:00'),
  Timestamp('1999-06-03 00:00:00'),
  Timestamp('1999-06-04 00:00:00'),
  Timestamp('1999-06-07 00:00:00'),
  Timestamp('1999-06-08 00:00:00'),
  Timestamp('1999-06-09 00:00:00'),
  Timestamp('1999-06-10 00:00:00'),
  Timestamp('1999-06-11 00:00:00'),
  Timestamp('1999-06-14 00:00:00'),
  Timestamp('1999-06-15 00:00:00'),
  Timestamp('1999-06-16 00:00:00'),
  Timestamp('1999-06-17 00:00:00'),
  Timestamp('1999-06-18 00:00:00'),
  Timestamp('1999-06-21 00:00:00'),
  Timestamp('1999-06-22 00:00:00'),
  Timestamp('1999-06-23 00:00:00'),
  Timestamp('1999-06-24 00:00:00'),
  Timestamp('1999-06-25 00:00:00'),
  Timestamp('1999-06-28 00:00:00'),
  Timestamp('1999-06-29 00:00:00'),
  Timestamp('1999-06-30 00:00:00')],
 '7': [Timestamp('1999-07-01 00:00:00'),
  Timestamp('1999-07-02 00:00:00'),
  Timestamp('1999-07-05 00:00:00'),
  Timestamp('1999-07-06 00:00:00'),
  Timestamp('1999-07-07 00:00:00'),
  Timestamp('1999-07-08 00:00:00'),
  Timestamp('1999-07-09 00:00:00'),
  Timestamp('1999-07-12 00:00:00'),
  Timestamp('1999-07-13 00:00:00'),
  Timestamp('1999-07-14 00:00:00'),
  Timestamp('1999-07-15 00:00:00'),
  Timestamp('1999-07-16 00:00:00'),
  Timestamp('1999-07-19 00:00:00'),
  Timestamp('1999-07-20 00:00:00'),
  Timestamp('1999-07-21 00:00:00'),
  Timestamp('1999-07-22 00:00:00'),
  Timestamp('1999-07-23 00:00:00'),
  Timestamp('1999-07-26 00:00:00'),
  Timestamp('1999-07-27 00:00:00'),
  Timestamp('1999-07-28 00:00:00'),
  Timestamp('1999-07-29 00:00:00'),
  Timestamp('1999-07-30 00:00:00')],
 '8': [Timestamp('1999-08-02 00:00:00'),
  Timestamp('1999-08-03 00:00:00'),
  Timestamp('1999-08-04 00:00:00'),
  Timestamp('1999-08-05 00:00:00'),
  Timestamp('1999-08-06 00:00:00'),
  Timestamp('1999-08-09 00:00:00'),
  Timestamp('1999-08-10 00:00:00'),
  Timestamp('1999-08-11 00:00:00'),
  Timestamp('1999-08-12 00:00:00'),
  Timestamp('1999-08-13 00:00:00'),
  Timestamp('1999-08-16 00:00:00'),
  Timestamp('1999-08-17 00:00:00'),
  Timestamp('1999-08-18 00:00:00'),
  Timestamp('1999-08-19 00:00:00'),
  Timestamp('1999-08-20 00:00:00'),
  Timestamp('1999-08-23 00:00:00'),
  Timestamp('1999-08-24 00:00:00'),
  Timestamp('1999-08-25 00:00:00'),
  Timestamp('1999-08-26 00:00:00'),
  Timestamp('1999-08-27 00:00:00'),
  Timestamp('1999-08-30 00:00:00'),
  Timestamp('1999-08-31 00:00:00')],
 '9': [Timestamp('1999-09-01 00:00:00'),
  Timestamp('1999-09-02 00:00:00'),
  Timestamp('1999-09-03 00:00:00'),
  Timestamp('1999-09-06 00:00:00'),
  Timestamp('1999-09-07 00:00:00'),
  Timestamp('1999-09-08 00:00:00'),
  Timestamp('1999-09-09 00:00:00'),
  Timestamp('1999-09-10 00:00:00'),
  Timestamp('1999-09-13 00:00:00'),
  Timestamp('1999-09-14 00:00:00'),
  Timestamp('1999-09-15 00:00:00'),
  Timestamp('1999-09-16 00:00:00'),
  Timestamp('1999-09-17 00:00:00'),
  Timestamp('1999-09-20 00:00:00'),
  Timestamp('1999-09-21 00:00:00'),
  Timestamp('1999-09-22 00:00:00'),
  Timestamp('1999-09-23 00:00:00'),
  Timestamp('1999-09-24 00:00:00'),
  Timestamp('1999-09-27 00:00:00'),
  Timestamp('1999-09-28 00:00:00'),
  Timestamp('1999-09-29 00:00:00'),
  Timestamp('1999-09-30 00:00:00')],
 '10': [Timestamp('1999-10-01 00:00:00'),
  Timestamp('1999-10-04 00:00:00'),
  Timestamp('1999-10-05 00:00:00'),
  Timestamp('1999-10-06 00:00:00'),
  Timestamp('1999-10-07 00:00:00'),
  Timestamp('1999-10-08 00:00:00'),
  Timestamp('1999-10-11 00:00:00'),
  Timestamp('1999-10-12 00:00:00'),
  Timestamp('1999-10-13 00:00:00'),
  Timestamp('1999-10-14 00:00:00'),
  Timestamp('1999-10-15 00:00:00'),
  Timestamp('1999-10-18 00:00:00'),
  Timestamp('1999-10-19 00:00:00'),
  Timestamp('1999-10-20 00:00:00'),
  Timestamp('1999-10-21 00:00:00'),
  Timestamp('1999-10-22 00:00:00'),
  Timestamp('1999-10-25 00:00:00'),
  Timestamp('1999-10-26 00:00:00'),
  Timestamp('1999-10-27 00:00:00'),
  Timestamp('1999-10-28 00:00:00'),
  Timestamp('1999-10-29 00:00:00')],
 '11': [Timestamp('1999-11-01 00:00:00'),
  Timestamp('1999-11-02 00:00:00'),
  Timestamp('1999-11-03 00:00:00'),
  Timestamp('1999-11-04 00:00:00'),
  Timestamp('1999-11-05 00:00:00'),
  Timestamp('1999-11-08 00:00:00'),
  Timestamp('1999-11-09 00:00:00'),
  Timestamp('1999-11-10 00:00:00'),
  Timestamp('1999-11-11 00:00:00'),
  Timestamp('1999-11-12 00:00:00'),
  Timestamp('1999-11-15 00:00:00'),
  Timestamp('1999-11-16 00:00:00'),
  Timestamp('1999-11-17 00:00:00'),
  Timestamp('1999-11-18 00:00:00'),
  Timestamp('1999-11-19 00:00:00'),
  Timestamp('1999-11-22 00:00:00'),
  Timestamp('1999-11-23 00:00:00'),
  Timestamp('1999-11-24 00:00:00'),
  Timestamp('1999-11-25 00:00:00'),
  Timestamp('1999-11-26 00:00:00'),
  Timestamp('1999-11-29 00:00:00'),
  Timestamp('1999-11-30 00:00:00')],
 '12': [Timestamp('1999-12-01 00:00:00'),
  Timestamp('1999-12-02 00:00:00'),
  Timestamp('1999-12-03 00:00:00'),
  Timestamp('1999-12-06 00:00:00'),
  Timestamp('1999-12-07 00:00:00'),
  Timestamp('1999-12-08 00:00:00'),
  Timestamp('1999-12-09 00:00:00'),
  Timestamp('1999-12-10 00:00:00'),
  Timestamp('1999-12-13 00:00:00'),
  Timestamp('1999-12-14 00:00:00'),
  Timestamp('1999-12-15 00:00:00'),
  Timestamp('1999-12-16 00:00:00'),
  Timestamp('1999-12-17 00:00:00'),
  Timestamp('1999-12-20 00:00:00'),
  Timestamp('1999-12-21 00:00:00'),
  Timestamp('1999-12-22 00:00:00'),
  Timestamp('1999-12-23 00:00:00'),
  Timestamp('1999-12-24 00:00:00'),
  Timestamp('1999-12-27 00:00:00'),
  Timestamp('1999-12-28 00:00:00'),
  Timestamp('1999-12-29 00:00:00'),
  Timestamp('1999-12-30 00:00:00'),
  Timestamp('1999-12-31 00:00:00')]}

<font size=4 color=#08B0000 face='time new roman'>**剔除包含NaN的行或者列**<font>

In [5]:
risk_asset.dropna(0)#剔除包含NaN的行
risk_asset.dropna(1)#剔除包含NaN的列

,沪深300,SGI美国股票期货指数,SGI日本股票期货指数,SGI英国股票期货指数,德国DAX30指数,彭博能源子指数,彭博工业金属子指数,彭博贵金属子指数
date,,,,,,,,
1999-01-04,0.274035,1.204167,0.896811,1.074363,1.170824,60.7979,61.2255,62.1302
1999-01-05,0.272611,1.216053,0.883416,1.082878,1.161361,59.0646,60.8197,62.3621
1999-01-06,0.275684,1.242252,0.904179,1.122374,1.204717,61.3498,61.0093,62.8538
1999-01-07,0.276935,1.239826,0.904179,1.114221,1.184249,61.5395,61.2482,63.7194
1999-01-08,0.284501,1.249772,0.892123,1.118751,1.191512,61.4412,62.3791,63.8017
...,...,...,...,...,...,...,...,...
2019-07-31,1.200725,2.432684,1.650085,1.457648,1.735490,35.5513,114.4857,176.1774
2019-08-01,1.188619,2.408008,1.646256,1.453199,1.742185,33.5604,114.0295,175.1143
2019-08-02,1.169864,2.392102,1.608737,1.419057,1.692902,33.8514,111.6006,177.7074
2019-08-05,1.149477,2.308490,1.576577,1.383561,1.661852,32.9869,111.3470,179.8051
2019-08-06,1.133294,2.346013,1.571983,1.374179,1.649104,32.7181,111.5954,180.6605